<div
  class="user-item"
  [class.user-item--selected]="isSelected()"
  (click)="toggle()"
  (keydown.enter)="toggle(); $event.preventDefault()"
  (keydown.space)="toggle(); $event.preventDefault()"
  role="button"
  tabindex="0"
  [attr.aria-expanded]="isSelected()"
  [attr.aria-label]="'View details for ' + user().firstname + ' ' + user().lastname"
>
  <img
    class="user-item__avatar"
    [src]="user().image"
    [alt]="user().firstname + ' ' + user().lastname"
    loading="lazy"
    width="40"
    height="40"
  />

  <span class="user-item__name">
    <!-- Gender icon -->
    @if (user().gender === 'female') {
      <svg class="user-item__gender-icon user-item__gender-icon--female" viewBox="0 0 20 20" fill="currentColor" aria-label="Female">
        <path d="M10 1a6 6 0 100 12A6 6 0 0010 1zm-1 13v3H7v2h6v-2h-2v-3a6 6 0 000-.001V14H9z"/>
      </svg>
    } @else if (user().gender === 'male') {
      <svg class="user-item__gender-icon user-item__gender-icon--male" viewBox="0 0 20 20" fill="currentColor" aria-label="Male">
        <path d="M13 2h5v5h-2V4.414l-3.293 3.293a5 5 0 11-1.414-1.414L14.586 3H13V2zM7 8a3 3 0 100 6 3 3 0 000-6z"/>
      </svg>
    }
    {{ user().firstname }} {{ user().lastname }}
  </span>

  <span class="user-item__email">{{ user().email }}</span>

  <span class="user-item__phone">{{ user().phone }}</span>

  <span class="user-item__nat">
    <span class="user-item__nat-badge">{{ user().nat }}</span>
    <span class="user-item__nat-count">{{ natCount() }}</span>
  </span>

  <span class="user-item__chevron" aria-hidden="true">
    <svg viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
    </svg>
  </span>
</div>
