<div class="detail" role="region" [attr.aria-label]="'Details for ' + user().firstname + ' ' + user().lastname">
  <div class="detail__header">
    <h3 class="detail__title">User Details</h3>
    <button
      class="detail__close"
      (click)="close.emit()"
      aria-label="Close user details"
      type="button"
    >
      <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
      </svg>
    </button>
  </div>

  <div class="detail__body">
    <div class="detail__avatar-col">
      <img
        class="detail__avatar"
        [src]="user().image"
        [alt]="user().firstname + ' ' + user().lastname"
        width="80"
        height="80"
      />
      <p class="detail__full-name">{{ user().firstname }} {{ user().lastname }}</p>
      <p class="detail__username">@{{ user().username }}</p>
    </div>

    <dl class="detail__info">
      <dt>Email</dt>
      <dd><a [href]="'mailto:' + user().email">{{ user().email }}</a></dd>

      <dt>Phone</dt>
      <dd>{{ user().phone }}</dd>

      <dt>Gender</dt>
      <dd class="detail__capitalize">{{ user().gender }}</dd>

      <dt>Age</dt>
      <dd>{{ user().age }}</dd>

      <dt>Nationality</dt>
      <dd>{{ user().nat }}</dd>

      <dt>Location</dt>
      <dd>{{ user().city }}, {{ user().country }}</dd>

      <dt>Same nationality</dt>
      <dd>{{ natCount() }} users</dd>
    </dl>
  </div>
</div>
